@import "../../../../resources/styles/variables.scss";

.dashboardChart {
  width: 100%;
  height: 500px;

  &:first-child{
    margin-top: 0;
  }

  margin-top: 20px;

  &__wrapper {
    background-color: $white;
    padding: 0 10px 15px;
    border: 1px solid lightgray;
    box-shadow: $boxShadow;

    min-height: 450px;

    border-radius: 20px;

    .dashboardChart__header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      h1 {
        padding: 10px;
        font-size: 20px;
        margin: 5px 10px 10px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .btn__container {
        button {
          background: transparent;

          svg {
            font-size: 28px;
            color: $darkGreen;
          }
          &.refresh {
            &.refreshing {
              svg {
                animation-name: spin;
                animation-duration: 5000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
              }
            }
          }
        }
      }
    }

    .recharts-responsive-container {
      width: 100%;
      height: 400px !important;
    }

    .updatedOn{
      display: flex;
      justify-content: center;

      &__text{
        font-size: 14px;

        span{
          font-weight: $fontWeightMedium;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(900deg);
  }
}
