@import "../../../../../resources/styles/variables.scss";

.generateGraph {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: $fontWeightBold;
      text-transform: uppercase;
      font-size: 26px;
      text-align: center;
    }
  }


  h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: $fontWeightBold;
  }
  label{
    margin: 0;
  }

  input{
    border-radius: 10px;
    height: 44px;
  }

  .graphName{
    margin-top: 30px;
    font-weight: $fontWeightBold;
    text-transform: uppercase;
    font-size: 20px;

    width: 100%;
    max-width: 300px;

    .form-group{
      margin: 0;
    }
  }

  .rowss{
    display: flex;
    .graphReference{
      margin-left: 20px;

      margin-top: 30px;
      font-weight: $fontWeightBold;
      text-transform: uppercase;
      font-size: 20px;
  
      border-radius: 10px;
  
      width: 100%;
      max-width: 300px;

    }
  }




  .chartType{
    margin-top: 20px;
    h1{
      font-weight: $fontWeightBold;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  .chartRender{
    width: 100%;
    height: 600px;

    margin-top: 40px;
    h1{
      font-size: 20px;
      text-transform: uppercase;
      font-weight: $fontWeightBold;
      margin-bottom: 20px!important;
    }
  }
}
