@import "../../../../resources/styles/variables.scss";

.dashboard {
  width: 100%;
  padding: 20px;

  overflow-y: scroll;

  > .header {
    display: flex;
    align-items: center;

    h1 {
      font-size: 30px;
      font-weight: $fontWeightBold;
      margin-right: auto;
    }

    a, button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%!important;
      svg {
        font-size: 26px;
      }
    }
  }


  .body{
    margin-top: 20px;

    &__empty{
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
      text-transform: uppercase;
      font-weight: $fontWeightMedium;
      font-size: 30px;
      color: $darkGray;
      }
    }
  }

  
}
