@import "../../../../../../../resources/styles/variables.scss";

.wrapper {
  button {
    display: flex;
    margin: 10px auto;
  }
  .note {
    font-size: 12px;
    font-weight: $fontWeightMedium;
  }
}
