@import "../../../../../../resources/styles/variables.scss";

.wrapper {
  margin-top: 30px;

  h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: $fontWeightBold;
  }

  .items {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 10px;
    .item {
      width: 400px;
      background-color: $white;

      border-radius: 10px;
      border: 1px solid #ced4da;

      padding-bottom: 14px;

      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      &__header {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-bottom: 1px solid #ced4da;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: $fontWeightMedium;

        display: flex;
        justify-content: space-between;
        align-items: center;

        small{
          font-size: 14px;
          font-weight: $fontWeightMedium;
        }
      }
      &__body {
        width: 100%;
        height: 300px;
        overflow: scroll;
        border-bottom: 1px solid lightgray;

        position: relative;

        pre {
          margin: 0;
          padding: 10px 10px 0;
          font-weight: $fontWeightRegular;
          font-size: 12px;
        }
      }

      &__footer {
        display: flex;
        justify-content: center;

        button {
          margin-top: 10px;

          &.active{
            color: $darkGreen!important;
            background-color: transparent;
          }
        }
      }
    }
  }
}
