@import "../../../resources/styles/variables.scss";

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .spinner {
    width: 3rem;
    height: 3rem;
    border: .35rem solid $darkGreen;
    border-right-color: transparent;
  }
}
